*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: rgb(127, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;

}

h1{
    margin: 1rem;
}

form{
    margin: 1rem;
}

ul{
    font-size: larger;
    list-style: none;
    padding: 0.5rem 1rem;
}